<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    
    @* Framework CSS *@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    @* Custom Tailwind/Scoped CSS - Added leading slashes for reliability *@
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="stylesheet" href="/FieldLogic.Web.styles.css"/>

    <HeadOutlet/>
</head>
<body class="bg-slate-950">
@* Using the absolute path to the component to bypass assembly search errors *@
<FieldLogic.Web.Components.Routes @rendermode="InteractiveAuto" />
    
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>